<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkeLEzYlgMk4WNgQN00RVQBnaCvEH_q-A</string>
	<key>GCM_SENDER_ID</key>
	<string>86043200660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanayjyot.buildspaceS5</string>
	<key>PROJECT_ID</key>
	<string>buildspace-s5</string>
	<key>STORAGE_BUCKET</key>
	<string>buildspace-s5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86043200660:ios:32e3381c4bfc05ed0a3881</string>
</dict>
</plist>